//
//  Staging.xcconfig
//  TeleMed
//
//  Created by Ihor Ilin on 29.05.2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

PROTOCOL=https:/

BASE_URL=$PROTOCOL/localhost:8080
